<main>
  <H1><em>🏛️APP.COMPENENT.HTML</em> </H1>
  <h3><em>Mon ordre d'execution</em></h3>
  <div class="contenerApp">
    <div>
      <ol>
        <li>Crée les propritées parent dans parent.compenent.ts</li>
        <br />
        <li>Crée mon input dans l'enfant au niveau enfant.compenent.ts</li>
        <p>@Input() LeNomDeInput! : sonType</p>

        <li>
          Plancer les proprietées parent dans les balises app-enfant <br />
          qui sont elles meme placer dans <br />
          parent.compenent.html via mon input
        </li>
        <p>
          app-enfant nomDeMonInput="nomDePropriétée(proprietée
          buiding)"app-enfant
        </p>

        <li>Utiliser dans enfant.compenent.html</li>
        <p>nomDePropietée(proprietée buiding)</p>
      </ol>
    </div>
    <app-parent></app-parent>
  </div>

  <router-outlet></router-outlet>
</main>
