main{
    background: #d99b5ec1;
    // height: 100vh;
    margin: 10px 50px;
    padding: 20px;
    border:4px solid  #0a0a0a;
    border-radius: 5px;
    

   
}
.contenerApp{
    display: flex;
    p{
        font-size: 0.7rem;
        color: aliceblue;
        font-weight: 500;
    }
    ol{
        background: #7e7d7d67;
        border: 1px solid black;
        margin-right: 10px;
        padding: 25px ;
        border-radius: 5px;
    }
}
