/* You can add global styles to this file, and also import other style files */
body{
    background: rgba(254, 229, 68, 0.749);
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}